@font-face {
    font-family: "neothic";
    src: 
        url(fonts/Neothic/neothic-webfont.woff) format(woff),
        url(fonts/Neothic/neothic-webfont.woff2) format(woff2);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "rusilla-serif";
    src: url(fonts/rusilla-serif/rusillaserif-regular-webfont.woff) format(woff),
         url(fonts/rusilla-serif/rusillaserif-regular-webfont.woff2) format(woff2);
    font-style: normal;
    font-weight: normal;
}

/* Josh Comeau's CSS reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  /* p {
    text-wrap: pretty;
  } */

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
body {
    background-color: #363636;
    font-family: "Helvetica", "Arial", sans-serif;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.image-container {
    height: 100vh;
    width: auto;
    flex: 1 0 auto;
}

.hero-banner {
    position: relative;
}

.hero-text {
    font-family: "rusilla-serif";
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #FAFAFA;
    text-wrap: nowrap;
}

.form-container {
    flex: 1 1 400px;
    justify-content: center;
    align-items: center;
}

form {
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 25px;
    width: 600px;
    height: 350px;
    flex-wrap: wrap;
    gap: 15px;
    color: #131313;
    background-color: rgb(168, 168, 168);
    box-shadow: 30px -15px #131313;
}

label {
    display: block;
    font-family: "neothic";
}

form input {
    background-color: inherit;
    padding: 5px;
    flex: 1;
    flex-wrap: wrap;
    width: 200px;
    height: 35px;
    align-items: flex-start;
    border: none;
    border-bottom: 1px solid #131313;
}

#user-email {
    flex: 2 1 0;
    width: 415px;
}

div:has(button) {
  width: 100%;
}

button {
    border: none;
    display: inline-block;
    padding: 5px;
    width: fit-content;
    margin-left: 66px;
    font-family: "neothic";
    color: #131313;
    background-color: #D6D9DC;
}

input:focus {
  outline: none;
}

input:user-invalid:required,
label:has(+ input:user-invalid:required),
.required {
  color: rgb(139, 9, 9);
}

input:user-invalid {
  border-color: rgb(139, 9, 9);
}

input + span {
  position: relative;
}

span::after {
  content: " ";
  position: absolute;
}

input:user-invalid + span::after {
  content: "* This field is required";
  font-size: smaller;
}

input:user-valid {
  border-color: green;
}